*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid;
}
body{
    background: hsl(0, 0%, 94%)
}
#Login{
    align-self: flex-start;
    margin-top: 20px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 80%;
    h1{
        font-family: 'poppins', sans-serif;
        font-size: 1.3em;
        font-weight: 300;
    }
    #form{
        margin-top: 8px;
        display: flex;
        flex-direction: column;
  
        gap: 6px;

        input{
   

            background: white;
            font-size: 1.3em;
            border: 0;
        //    border: 1px solid rgba(0, 0, 0, 0.566);
           padding: 10px;
        }
        button{
            border: 0;
            margin-top: 60px;
            font-size: 1.5em;
            color: white;

            padding: 10px;
            background: #3c00a0;
            &:hover{
                background: #5d1bc8;

            }
        
        }

    }
}

#LoginWrapper{

    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: .0fr .8fr 2fr 1fr;
    grid-template-columns: 1fr 15fr 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 10px;

    
    #DBCEH1{
        color: #112D4E;
        width: 60%;
        font-size: 2.5em;
        font-weight: 1000;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        font-family: 'Noto Serif', serif;
     
    }
}