.item{
    position: relative;
    --w:170px;
    box-sizing: content-box;
    width: var(--w);
    display: flex;
    flex-direction: column;
    background: rgb(221, 221, 221);
    // padding: 10px;
    border-radius:6px;
    overflow: hidden;
    img{
        width: var(--w);
        height: var(--w);
        object-fit: cover;
    }
    h1{
        
        background: linear-gradient(to bottom,rgb(0, 0, 0),rgba(0, 0, 0, 0.579),transparent);
        color: #ffffff;
        width: 100%;
        top: 0;
        position: absolute;
        font-family: noto sans;
        font-weight: 400;
        padding: 5px;
        font-size: 1.2em;
    }

}
#Menu{
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}